HELP.md
.gradle
build/
**/build/
*.class
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
bin/main/application.yaml
**/target


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.mirrord
.DS_Store

# node_modules
package-lock.json
node_modules/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### HMCTS SECURITY CRITICAL EXCLUSIONS ###
# Application properties/YAML containing secrets (DB passwords, JWT keys)
# Actual application.yml/properties should be kept, but secrets should be handled via environment vars or config server.
# However, local development files are often excluded:
/src/main/resources/application.properties
/src/main/resources/application.yml
/src/main/resources/application-dev.properties
/src/main/resources/application-local.yml

# Security Keys and Certificates
*.key
*.jks
*.p12
*.pem

# Environment variables
.env

